body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  letter-spacing: 1.5px;
}

main {
  flex: 1 0 auto;
}

input {
  color: teal;
}

.modal-fit-content {
  width: 500px;
}

.special-font {
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1.5px;
}

.carousel .carousel-item {
  width: 500px !important;
  top: -70px;
}

.padding {
  padding-top: 20px;
}

.sidenav .sidenavbar {
  background-color: rgba(0, 128, 90, 0.65);
}

.column {
  float: left !important;
  width: 33.33% !important;
  padding: 5px !important;
}

/* Clear floats after image containers */
.row::after {
  content: "" !important;
  clear: both !important;
  display: table !important;
}

.dark {
  color: rgb(24, 23, 23) !important;
}

#contact {
  font-size: 27px !important;
  text-decoration-color: red !important;
  text-decoration: underline !important;
}

h6 {
  font-size: 27px !important;
}

#social {
  font-size: 22px !important;
}

#followus {
  font-size: 16px !important;
}

#center {
  margin-left: auto !important;
  margin-right: auto !important;
}

.btn-flat {
  text-transform: lowercase !important;
}
